<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reservation Home</title>
        <link rel="stylesheet" href="home_css.css" />
    </head>
    <body>
        <div class="add_user_button">
            <a href="http://reservation.web.illinois.edu/backend/book"><button class="user_button">Register</button></a>
            <a href="https://youtu.be/dQw4w9WgXcQ"><button class="user_button">Login</button></a>
        </div>
        <div class="title_div">
            <h1 class="home_title">RESERVE UIUC</h1>
        </div>
        <div class = "button_menu">
            <a href="http://reservation.web.illinois.edu/backend/reservation"><button class="res_button">Reservations</button></a>
        </div>
    </body>
</html>